body {
  background-color: #f9f9f9 !important;
}
.sprite {
  background-image: url('images/icons/sprite.png');
}
.nopadding { padding: 0px; }
[main-wrapper] {
  margin-top: 50px;
}
/* ===Header start== */
header > nav {
  box-shadow: none !important;
  border-bottom: 1px solid #ddd;
}
/* ==Flight Wrapper== */
.headding h3 {
  font-weight: bold;
}
.headding h3 + p {
  color: #999;
}
.field-row {
  text-align: left;
  margin-bottom: 15px;
}
.field-row .form-group {
  margin: 0px 20px 0px 0px;
}
.field-row .form-group label {
  margin-bottom: 0px;
  font-size: 13px;
  padding-left: 27px;
}
/*==Destion Form Start==*/
.destination-form .md-form {
  margin-bottom: 0px;
}
.destination-form::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: red;
}
.destination-form .md-form label {
  top: 17px;
}
.destination-form .md-form .form-control {
  margin-bottom: 0px;
  padding-bottom: 0.2rem;
  padding-top: 0.6rem;
}
.destination-form .md-form label.active {
  transform: translateY(-110%);
}
/* ==End== */
.flex-box {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-box >  div {
  padding-top: 30px;
}

/* ===Left container=== */
.left-container {
  height: 300px;
  padding-right: 0px;
}
.left-nav {
  margin: 0px;
  padding: 0px;
}
.left-nav > li {
  float: left;
  width: 100%;
  border: 1px solid transparent;
  border-top-color: rgba(0,0,0,0.05);
  border-right: none;
  height: 46px;
  position: relative;
}
.left-nav > li:last-child {
  border-bottom-color: rgba(0,0,0,0.05);
}
.left-nav > li.active {
  border: 1px solid #ccc;
  background-color: #fff;
}
.left-nav > li.active::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: #fff;
  right: -3px;
  top: 0px;
  z-index: 1;
}
.left-nav > li > a {
  display: block;
  padding: 10px 13px;
  color: #000;
  line-height: 26px;
}
.left-nav > li > a .fa {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  font-size: 21px;
  color: #7d7979;
}
.left-nav > li > a .fa-plane {
  font-size: 23px;
}

/* ===center container=== */
.center-container {
  background: #fff;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  position: relative;
  box-shadow: -2px 0 2px #eee,2px 0 2px #eee;
}

/* ===center container=== */
.right-container {}
