<div class="data-wrapper">
  <div class="col-xs-12 headding">
    <h3>Search flights</h3>
    <p>Fly anywhere. Fly everywhere.</p>
  </div>
  <div class="col-xs-12 field-row">
    <form class="form-inline">
        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio11" checked="checked">
            <label for="radio11">One way</label>
        </fieldset>
        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio21">
            <label for="radio21">Round trip</label>
        </fieldset>
        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio31">
            <label for="radio31">Multi-city</label>
        </fieldset>
        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio32">
            <label for="radio32">Flight + Hotel</label>
        </fieldset>
    </form>
  </div>
  <!-- // form Start -->
  <div class="col-xs-12 destination-form">
    <div class="row">
      <div class="col-xs-6">
        <div class="md-form">
            <input value="" type="text" id="form6" class="form-control">
            <label class="active" for="form6">From</label>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="md-form">
            <input value="" type="text" id="form7" class="form-control">
            <label class="active" for="form6">To</label>
        </div>
      </div>
    </div>
  </div>
  <!-- // -->
  <div class="col-xs-12">
    ddddhfhg vjhgv
  </div>
  <!-- // form End -->
</div>
