<div class="data-wrapper">
  <div class="col-xs-12 headding">
    <h2>Search flights</h2>
    <p>Fly anywhere. Fly everywhere.</p>
  </div>
  <div class="field-row">
    <form class="form-inline">

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio11" checked="checked">
            <label for="radio11">Option 1</label>
        </fieldset>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio21">
            <label for="radio21">Option 2</label>
        </fieldset>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio31">
            <label for="radio31">Option 3</label>
        </fieldset>

    </form>
  </div>
</div>
